<div class="card w-100">
    <div class="card-title d-flex justify-content-between">
        <h6><em>{{user.name}} commented</h6>
        <h6>{{format_datetime date_created}}</h6></em>
    </div>
    <div>{{content}}</div>
</div>