<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog of Tech</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <div class="jumbotron">
    <h1>Blog of Tech</h1>
  </div>
  <header>
    <div>
      <div>{{#if loggedIn}}
        <button type="button" class="tbhome btn btn-dark" href="/">Home</button>
        <button type="button" class="tbcreatepost btn btn-dark">Create Post</button>
        <button type="button" class="logout btn btn-dark">Logout</button>
        <button type="button" class="btn btn-dark" href="/dashboard">Dashboard</button>
        {{else}}
        <button type="button" class="btn btn-dark" href="/">Home</button>
        <button type="button" class="login btn btn-dark">Login</button>
        <button type="button" class="signup btn btn-dark">Sign-up</button>
        {{/if}}
      </div>
    </div>
  </header>
  <main>
    <div>
      {{{body}}}
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>
<script src="/js/logout.js"></script>

</html>