<div class="card">
    <div class="card-title d-flex justify-content-between">
        <p class="h2">{{post.title}}</p>
        <p class="h6">by {{post.user.name}} on {{format_datetime post.date_created}}</p>
    </div>
    <div class="card-body">{{post.content}}</div>
</div>

<div class="card">
    <div class="card-title d-flex justify-content-between">
        <p class="h3">Comments</p>
    </div>

    {{#each post.comments as |comment|}}
    {{> comment}}
    {{/each}}

    <div class="">
        <textarea class="w-100" name="comment" id="comment" cols="30" rows="5"></textarea>
        {{!-- <button class="btn btn-warning me-2" id="commentPost">Save Comment</button> --}}
        <button class="btn btn btn-dark" id="commentPost">Save Comment</button>
    </div>
</div>

<script src="../js/comment.js"></script>